header {
    width: 100%;
    padding-inline: 1rem;
    background-color: #f5ba13;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  .brand-name {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }
  

.flex-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.625rem;
}

.brand-logo{
    display: inline-block;
    color: rgb(255,255,255);
    margin-inline: 0.5rem;
}


.nav-menu-list{
    list-style-type: none;
    margin: 0.625rem;
}
